body {
    background-color: #fcfbfa;
}

.hero-item-transition-enter-active, .hero-item-transition-leave-active {
    transition: opacity 0.3s
}
.hero-item-transition-enter, .hero-item-transition-leave-to {
    opacity: 0;
}